<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="comment" class="Comment\Loop\CommentLoop" />
    </loops>

    <forms>        
        <form name="form.add.comment" class="Comment\Form\AddCommentForm" />
        <form name="comment.configuration.form" class="Comment\Form\ConfigurationForm" />
    </forms>

    <commands>
        <!--
        <command class="MyModule\Command\MySuperCommand" />
        -->
    </commands>

    <services>
        <service id="comment.action" class="Comment\Action\CommentAction">
            <argument type="service" id="thelia.translator" />
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

    <!--
    <exports>

    </exports>
    -->

    <!--
    <imports>

    </imports>
    -->

    <hooks>
        <!-- front -->
        <hook id="comment.hook.front" class="Comment\Hook\FrontHook" scope="request">
            <tag name="hook.event_listener" event="product.additional" method="onShowBlockComment" />
            <tag name="hook.event_listener" event="content.main-bottom" method="onShowComment" />
            <tag name="hook.event_listener" event="main.javascript-initialization" method="jsComment" />
        </hook>
        <!-- back -->
        <hook id="comment.hook.back" class="Comment\Hook\BackHook" scope="request">
            <tag name="hook.event_listener" event="module.configuration" type="back" />
            <tag name="hook.event_listener" event="main.top-menu-tools" type="back" />
        </hook>

    </hooks>
</config>
