<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Comment\Comment</fullnamespace>
    <descriptive locale="en_US">
        <title>Comment system</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Système de commentaire</title>
    </descriptive>
    <version>0.1</version>
    <author>
        <name>Michaël Espeche</name>
        <email>michael.espeche@gmail.com</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>alpha</stability>
</module>